/* サイトトップページ(index.html)以外でほぼ共通して使えそうなCSSをまとめた */
/* 利用規約、プライバシーポリシー、物置の作品以外はこれでいけそう */

main{
    margin: 0% 15% 0% 15%; /*上 右 下 左,viewportに対して*/
}

@media screen and (max-width: 767px){
    main{
        margin: 0% 5% 0% 5%;
    }
}

/*text関連の設定 崩れたらここを見ろ*/
main{
    line-height: 1.6; /*自分の感覚で値決めたけど、ここどんくらいの値がベストなんだろう...*/
}

main p{
    font-size: 16px;
    margin: 0px;
    font-weight: 400;
}

@media screen and (max-width: 767px){
    main p{
        margin-bottom: 7.5px;
    }
}

.text-topspace{
    padding-top: 10px;
}

.text2{
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.text-bold{
    font-size: 18px;
    font-weight: 500;
}

.text-line{
    text-decoration: line-through;
}

main a{
    text-decoration: none;
    color: inherit;
}

.home-icon{
    width: 30px;
    height: 30px;
}
/* Google Material Icons: https://fonts.google.com/icons */

.home{
    display: flex;
    padding-right: 10px;
    padding-top: 10px;
    align-items: center;
}

/*ぱんくず*/
.pankuzu{
    display: flex;
    align-items: center;
    padding-top: 7.5px;
}

@media screen and (max-width: 767px){
.pankuzu span{
    margin-bottom: 0px;
}
}

.pankuzu-right{
    padding: 0px 7.5px 0px 7.5px;
}
/* //ぱんくず */

.title{
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 5px;
    margin: 0px;
    border-bottom: 4px solid #006e54;
}

main h2{
    border-left: 7px solid #00a381;
    border-bottom: 1px solid #d3d3d3;
    padding-left: 10px;
    padding-top: 7.5px;
    font-size: 30px;
    font-weight: 500;
}

main li{
    font-size: 16px;
}

main a{
    color: #0033cc;
    transition: 0.3s linear;
}

main a:hover, .home-a:hover{
    color: #2b95a8;
    text-decoration: underline;
}

.neko{
    height: 200px;
    width: 200px;
}

/* こっから下のやつ実装するの夢だった 叶えられて大満足 */

.note{
    background-color: #f5deb3;
    border-radius: 15px;
    width: fit-content;
}

.dark-note{
    background-color: #c0c0c0;
    border-radius: 10px;
    width: fit-content;
}

/*警告用カラーコード: #ffdad6*/

.dark-note-text{
    margin: 0px;
    padding: 10px 15px 15px 15px; /* 上 右 下 左 そろそろ覚えたい */
}

.errorsvg{
    width: 30px;
    height: 30px;
}

.note-flex{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0px;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 10px;
}

.note-flex p{
    margin: 0px;
    padding-left: 3px;
    font-size: 20px;
    font-weight: 500;
}

.note-text{
    font-weight: 450;
    font-size: 18px;
    margin: 0px;
    padding: 10px 15px 15px 15px; /* 上 右 下 左 そろそろ覚えたい */
}

.link-bottom{
    display: flex;
    align-items: center;
    margin-top: 25px;
}

@media screen and (max-width: 767px){
    .link-bottom p{
        margin-bottom: 0px;
    }
}


