:root{
    --main-text: #000000;
    --main-atagcolor: #0033cc;
    --main-bgcolor: #f2f5ea;
    --card: #9dd67d;
    --card-hover: #b8f397;
}

@media (prefers-color-scheme: dark){
    :root{
        --main-text: #e3e3e3;
        --main-atagcolor: #2b95a8;
        --main-bgcolor: #0f0f0f;
        --card: #212d23;
        --card-hover: #3e4a35;
    }
}
body{
    background-color: var(--main-bgcolor);
    color: var(--main-text);
    display: flex; /*全部flex☆*/
    flex-direction: column; /*縦に並べてね だからfooterが下にくる*/
    min-height: 100vh;
}

main{
    margin: 0% 15% 3% 15%; /*上 右 下 左,viewportに対して*/
}

@media screen and (max-width: 767px){
    main{
        margin: 0% 5% 10% 5%;
    }
}

.text{
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    margin: 0px;
}

.text-animeTenP{
    margin: 0px 0px 0px 15%;
}

@media screen and (max-width: 767px) {
    .text-animeTenP{
        margin: 0px 0px 0px 5%;
    }
}

a{
    text-decoration: none;
    color: inherit;
}

.title{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    width: 100%;
}

h1{
    font-weight: 600;
}

h2{
    font-weight: 500;
}

.title-text{
    font-size: 55px;
    margin: 0px;
    padding-right: 20px;
    align-items: flex-end;
}

.title-sub{
    font-size: 30px;
    margin: 0px;
    padding-bottom: 5px;
}

@media screen and (max-width: 767px){
    .title-text{
        font-size: 45px;
    }
    .title-sub{
        font-size: 23px;
    }
}

.notice{
    color: #8b0000 ;
    font-size: 16px;
    text-decoration: line-through;
    margin-top: 10px;
    margin-bottom: 0px;
}

.notice-a{
    color: var(--main-atagcolor);
    transition: 0.3s linear;
}

.notice-a:hover{
    color: #2b95a8;
    text-decoration: underline;
}

.cards{
    /*background-color: aquamarine; 分かりやすくするために使ってた 意味はない*/
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-rows: 150px;
    column-gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px){
    .cards{
        column-gap: 5px;
        grid-template-rows: 100px;
    }
}

.card1, .card2, .card3, .card4{
    height: 150px;
    width: 100%;
    background-color: var(--card);
    text-align: center;
    border-radius: 15px; /*角を丸くしてね*/
    font-size: 23px;
    margin: 0px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.4s linear;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    background-color: var(--card-hover);
}

@media screen and (max-width: 767px){

    .card1, .card2, .card3, .card4{
        height: 100px;
        font-size: 16px;
    }
}

/*アンダーラインがhover時にじゅわーってなるあれ、実装したいなぁ*/

.Atag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
}

@media screen and (max-width: 767px){
    .Atag{
        height: 100px;
    }
}

.TenP-animation{
    padding-left: 97%;
    white-space: nowrap;
    font-size: 25px;
    animation-name: TenP;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

/*参考: https://webparts.cman.jp/string/scroll/ */

@keyframes TenP{
    from{
        transform: translateX(-150%)
    }
    to{
        transform: translateX(0%);
    }
    }
