html{
    background-color: #f0f8ff  ;
}
body {
    margin: 0%;
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Noto Sans", "Yu Gothic UI", sans-serif;
}

.main, .main2{
    margin: 0% 15% 3% 15%; /*上 右 下 左,viewportに対して*/
}

.title, .title-sub{
    text-align: center;

}

.title{
    font-size: 55px;
    margin-top: 2%;
    margin-bottom: -32px;
}

.title-sub{
    font-size: 30px;
}

.notice{
    color: #8b0000 ;
    font-weight: bold;
    font-size: 20px;
}

header{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 50px;
    background-color: #d9e7cb;
}

.cards{
    margin-right: 5%;
    margin-left: 5%;
    background-color: aquamarine; /*分かりやすくするために使ってた 意味はない*/
    display: flex;
    flex-direction: row; /*子要素の並ぶ向き*/
    flex-wrap: wrap; /*折り返し 干渉するし今のところいらない*/
    justify-content: space-around; /*垂直方向の配置*/
    align-items: stretch; /*水平方向の配置 初期値*/
}

.card1, .card2, .card3, .card4{
    width: 225px;
    background-color: bisque; /*後で変えるかも*/
    text-align: center;
    border-radius: 10px; /*角を丸くしてね*/
    font-size: 23px;
}

.Atag{
    display: block;
    width: 225px;
    height: 40px;
    padding-top: 30%;
    padding-bottom: 30%;
}
