html{
    background-color: #eff3e7;
    color: #000000;
}
body{
    margin: 0%;
    font-family: "Segoe UI", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", "Noto Sans", "Yu Gothic UI", sans-serif;
}

main{
    margin: 0% 15% 3% 15%; /*上 右 下 左,viewportに対して*/
}
/*To-Do:ここをデバイスごとに変える*/

.text{
    font-size: 18px;
}

.text1{
    margin-right: 15%;
    margin-left: 15%;
    font-size: 18px;
}

.title{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    width: 100%;
}



.title-text{
    font-size: 55px;
    margin: 0px;
    padding-right: 20px;
    align-items: flex-end;
}

.title-sub{
    font-size: 30px;
    margin: 0px;
    padding-bottom: 5px;
}

.notice{
    color: #8b0000 ;
    font-weight: bold;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: inherit;
}

/*共通header*/
/*全部display:flexで楽ちん!*/

header{
    width: 100%;
    padding: 0px;
    height: 50px;
    background-color: #d9e7cb;
    display: flex;
}

.header-TenP{
    display: flex;
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 10px;
    align-items: center;
    transition: color 0.2s linear;
}

header ul{
    list-style: none;
    height: 50px;
    display: flex;/*ここじゃないとだめ*/
    margin: 0px;
    align-items: center;
    padding: 0px;
}

header li{
    padding-left: 15px;
    font-size: 17px;
    transition: color 0.2s linear;
}

.header-TenP:hover, header li:hover{
    /* text-decoration: underline; */
    color: #006400;
}

/* //共通header */

.cards{
    /*background-color: aquamarine; 分かりやすくするために使ってた 意味はない*/
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    grid-template-rows: 150px;
    column-gap: 20px; /*端末ごとにここを変えたほうがいい*/
}

.card1, .card2, .card3, .card4{
    height: 150px;
    width: 100%;
    background-color: #9dd67d; /* https://m3.material.io/styles/color/roles Material You Desginになりそうな色*/
    text-align: center;
    border-radius: 15px; /*角を丸くしてね*/
    font-size: 23px;
    margin: 0px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.4s linear;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    background-color: #b8f397;
}
/*アンダーラインがhover時にじゅわーってなるあれ、実装したいなぁ*/

.Atag{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
}

.TenP-animation{
    padding-left: 95%; /*100%にするとよくないけど、95%もよくないのも分かってる*/
    white-space: nowrap;
    font-size: 25px;
    animation-name: TenP;
    animation-duration: 7.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
}

/*参考: https://webparts.cman.jp/string/scroll/ */

@keyframes TenP{
from{
    transform: translateX(-150%)
}
to{
    transform: translateX(0%);
}
}

/*共通footer*/

body{
    display: flex; /*全部flex☆*/
    flex-direction: column; /*縦に並べてね だからfooterが下にくる*/
    min-height: 100vh;
}


footer{
    width: 100%;
    background-color: #e2e8d9;
    margin: auto 0px 0px 0px;
    padding: 0px;
}

.ul{
    display: flex;
}

.footer-ul1{
    padding: 0px;
    margin-left: 15%;
}

.footer-ul1, .footer-ul2, .footer-ul3{
    list-style: none;

}

footer li{
    color: #3e3e3e;
    font-size: 16px;
    padding: 1px;
}

footer li:hover{
    text-decoration: underline;
}

.footer-end{
    font-size: 16px;
    padding-left: 15%;
    margin: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
    color: #3e3e3e;
}

/* //共通footer */
